<section>
	<% attributes.reject(&:password_digest?).each do |attribute| -%>
	<p class="row">
		<div class="col-sm-2"><%= attribute.human_name %>:</div>
		<div class="col-sm-10"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></div>
	</p>

	<% end -%>
	<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
	<%%= link_to 'Back', <%= index_helper %>_path %>
</section>
